<% provide(:page_title, "CSV Import") %>
<% provide(:app_page, "scrape_sessions" ) %>

<div class="page-header">
	<h2>Import pages into your Session</h2>
</div>

<p class="lead">Kindly ensure that your CSV is created using the Guidelines. For more Info, please see the <%= link_to "Help",  help_path %> section</p>

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">Select a File to Upload</div>
		<div class="panel-body">
			<%= form_tag upload_scrape_session_path, multipart: true do %>
				<div class="form-group">
				
				  <%= file_field_tag :file, class: "btn btn-large btn-primary btn-sm btn-block" %>
				</div>

				<div class="form-group">
				<%= submit_tag "Import", class: "btn btn-large btn-primary btn-block" %>
				</div>
			<% end %>


		</div>
	</div>

</div>