<% provide(:page_title, "All Sessions") %>
<% provide(:app_page, "scrape_sessions" ) %>
<% provide(:app_sub, "scrape_sessions_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Sessions</h2>
	<!-- <ul class="nav nav-pills pull-right">
		<li><%= link_to "Logs", "#" %></li>
	</ul> -->
	<div class="clearfix"></div>
</div>

<% if @scrape_sessions.any? %>
	<!-- <div class="well well-sm">
		<h4><%= pluralize current_user.scrape_sessions.count, "Session"  %></h4>
	</div> -->
	<%= render 'shared/scrape_session_list' %>
<% else %>
	<div class="well well-sm">
		<h4>You don't have any sessions</h4>
	</div>
<% end %>

<% content_for :debug_dump do %>
	<h4>Scrape Session Info</h4>
	<p>Any? <%= @scrape_sessions.inspect %></p>
	<br />
<% end %>