<% provide(:page_title, "New Session") %>
<% provide(:app_page, "scrape_sessions" ) %>
<% provide(:app_sub, "scrape_sessions_new" ) %>

<div class="page-header">
	<h2>Create a Session</h2>
</div>

<div class="col-md-8 panel panel-default signup">

	<div class="panel-body">
		<%= render 'shared/scrape_session_form', object: @scrape_session %>
	</div>
</div>
 