<% provide(:page_title, "Questions" ) %>
<% provide(:app_page, "questions" ) %>
<% provide(:app_sub, "questions_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Questions</h2>
	<div class="clearfix"></div>
</div>

<% if !@questions.blank? %>
   <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Questions</div>
      <div class="panel-body">
       <%= render 'shared/question_list', object: @questions %>
      </div>

    </div>
	

	<!-- add pagination -->

<% else %>

    <div class="panel panel-default session-summary">
      <div class="panel-body">
        <h3>This Session doesn't have any Questions.</h3>
        <div class="whitespace"></div>
            <div class="col-md-4">
            <%= link_to "ADD QUESTION", new_scrape_session_question_path(@scrape_session), class: "btn btn-large btn-primary btn-block"  %>
            </div>
        </div>
    </div>

<% end %>


<% content_for :debug_dump do %>

<% end %>