<% provide(:page_title, "Questions" ) %>
<% provide(:app_page, "questions" ) %>
<% provide(:app_sub, "questions_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Questions</h2>
	<div class="clearfix"></div>
</div>

<% if !@questions.blank? %>
   <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Questions</div>
      <div class="panel-body">
       <%= render 'shared/question_list', object: @questions %>
      </div>

    </div>
	

	<!-- add pagination -->

<% else %>
	<div class="well well-sm">
		<h4>You haven't asked any questions</h4>
	</div>
<% end %>


<% content_for :debug_dump do %>

<% end %>