<% provide(:page_title, "Questions" ) %>
<% provide(:app_page, "questions" ) %>
<% provide(:app_sub, "questions_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Questions</h2>
	<div class="clearfix"></div>
</div>

<% if !@questions.blank? %>

	<%= render 'shared/question_list' %>

	<!-- add pagination -->

<% else %>
	<div class="well well-sm">
		<h4>You haven't asked any questions</h4>
	</div>
<% end %>


<% content_for :debug_dump do %>

<% end %>