<% provide(:page_title, "New Question") %>
<% provide(:app_page, "questions" ) %>
<% provide(:app_sub, "questions_new" ) %>

<div class="page-header">
	<h2>Add a Question</h2>
</div>

<div class="col-md-8 panel panel-default signup">

	<div class="panel-body">
		
		<%= render 'shared/question_form', object: @question %>
	</div>
</div>

<% content_for :debug_dump do %>
	<h4>Object value</h4>
	<p>Inspect <%= @question.inspect %></p>
  	<p>Class <%= @question.class %></p>
  	<p>nil <%= @question.nil? %></p>

	<br />
<% end %>