<% provide(:page_title, 'Help') %>

<div class="page-header">
	<h2>Help</h2>
</div>

<p class="lead">I am Cain. I will help you.</p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CSV Import</h3>
  </div>
  <div class="panel-body">
    <ol>
		<li>Ensure that your file has only the required fields and in the correct order</li>
		<li>Export your file as a CSV with <strong>UTF-8 Encoding</strong></li>
	</ol>
  </div>
</div>