<% provide(:page_title, "Session: #{@scrape_session.name.capitalize} | Pages" ) %>
<% provide(:app_page, "scrape_pages" ) %>
<% provide(:app_sub, "scrape_pages_index" ) %>

<div class="page-header">
	<h2 class="pull-left">Pages</h2>
  <div class="pull-right">
    <div class="well well-sm session-child-summary">
      <p>Allow Page override: <span><%= @scrape_session.allow_page_override.to_s.upcase %></span></p>
      <p>Session Continous: <span><%= @scrape_session.session_continuous_scrape.to_s.upcase %></span></p>
      
      <div class="clearfix"></div>
    </div>
    
  </div>
	<div class="clearfix"></div>
</div>

<% if !@scrape_pages.blank? %>


    <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Pages</div>
      <div class="panel-body">
       <%= render 'shared/scrape_page_list', object: @scrape_pages %>
      </div>

    </div>
  <div class="whitespace"></div>
<% else %>
	<div class="well well-sm">
		<h4>You haven't added any pages to this session</h4>
	</div>
<% end %>


<% content_for :debug_dump do %>

<% end %>