<% provide(:page_title, "New Page") %>
<% provide(:app_page, "scrape_pages" ) %>
<% provide(:app_sub, "scrape_pages_new" ) %>

<div class="page-header">
	<h2>Add a Page to this Session</h2>
</div>

<% if @provide_default_instructions %>
<div class="well well-sm col-md-8 default-instructions">
    <h4>The following default values will be used if you don't set them.</h4>
    <ul>
        <li>Scrape Frequency : <span>10 Minutes</span></li> 
        <li>Continous Scrape : <span>False</span></li>
        <li>Override Session Settings : <span>False</span></li>
    </ul>
</div>

<% end %>

<div class="col-md-8 panel panel-default">

	<div class="panel-body">
		
		<%= render 'shared/scrape_page_form' %>
	</div>
</div>

<% content_for :debug_dump do %>

<% end %>