<div class="authform">
  <%= form_for(@account) do |f| %>
    <h1>Account to follow</h1>
    <hr>
    <div class="form-group">
      <%= f.label :username %><br>
      <%= f.text_field :username, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit class: "button" %>
    </div>
  <% end %>
</div>