<div class="page-header">
	<h3>Edit the App Settings</h3>
</div>

<div class="col-md-6 panel panel-default signup">

	<div class="panel-body">
		
		<%= render 'shared/app_setting_form', object: @app_setting %>

	</div>
</div>

