<% provide(:page_title, "Edit Answer") %>
<% provide(:app_page, "answers" ) %>

<div class="page-header">
    <h2>Edit Answer</h2>
</div>

<div class="col-md-8 panel panel-default signup">

    <div class="panel-body">
        
        <%= render 'shared/answer_form', scrape_session: @scrape_session, question: @question, answer: @answer %>
    </div>
</div>
