<% provide(:page_title, "New Answer") %>
<% provide(:app_page, "answers" ) %>
<% provide(:app_sub, "answers_new" ) %>

<div class="page-header">
	<h2>Add an Answer</h2>
</div>

<div class="col-md-8 panel panel-default">

	<div class="panel-body">
		<%= render 'shared/answer_form', scrape_session: @scrape_session, question: @question, answer: @answer %>
	</div>
</div>

<% content_for :debug_dump do %>

<% end %>