<h1>Listing tweets (<%= @tweet_count %>)</h1>


<table class="table table-hover">

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>