<% provide(:page_title, "Facebook Posts" ) %>
<% provide(:app_page, "fb_posts" ) %>

<div class="page-header">
    <h2 class="pull-left">Facebook Posts</h2>
    <div class="clearfix"></div>
</div>

<% if @fb_posts_scope == "session" %>
    <div class="panel panel-default session-summary">
      <div class="panel-heading">Session Summary</div>
      <div class="panel-body">
            <%= render 'shared/scrape_session_description', object: @scrape_session %>
        </div>
    </div>
<% elsif @fb_posts_scope == "page" %>
    <div class="panel panel-default session-summary">
      <div class="panel-heading">Session Summary</div>
      <div class="panel-body">
            <%= render 'shared/scrape_page_description', object: @scrape_page %>
        </div>
    </div>
<% end %>



<% if !@fb_posts.blank? %>

    <div class="panel panel-default dash-stats-sessions">
      <div class="panel-heading">All Posts</div>
      <div class="panel-body">
       <%= render 'shared/fb_post_list', object: @fb_posts %>
      </div>

    </div>

    <!--  pagination -->
    <div class="center-block">
      <%= will_paginate @fb_posts %>
    </div>

<% else %>
    <div class="well well-sm">
        <h4>There are no posts.</h4>
    </div>
<% end %>


<% content_for :debug_dump do %>

<% end %>