@import "bootstrap";
/*@import "bootstrap-responsive";*/

/*variables */
$darkBlue:     #052738;
$lightGray:    #f5f5f5;
$footerHeight: 30px;
$well_aux_tex: #546F92;
$headerGreen: #f7941e; /*#92AF7B;*/
$well_question: #555; 
$navHoverRed: rgb(158, 34, 34);
$helpPageHeader: #68828F;

/*mixin*/
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*main styles*/
html,
body {
  height: 100%;
}

body{
  color: #6d6e70;
  font-family: 'Muli', sans-serif;
}

header{
  -moz-box-shadow:    0px 5px 5px #bbb;
  -webkit-box-shadow: 0px 5px 5px #bbb;
  box-shadow:         0px 5px 5px #bbb;
}
h1, h2, h3, h4, h5{
  font-family: 'Muli', sans-serif;
  /*font-weight: bold;*/
}

h4, h5{
  font-weight: normal;  
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto; 
  margin-bottom: -$footerHeight; /* Negative indent footer by its height */
  padding: 0 0 $footerHeight; 	/* Pad bottom by footer height */
}

/* Set the fixed height of the footer here */
footer {
  height: $footerHeight;
}

#wrap > .container {
  padding: 80px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;  
}

footer .navbar-nav > li > a{
  padding: 3px 15px;
  font-size: 0.9em;
}

.navbar-inverse{
	background-color: $darkBlue;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  color: #f7941e;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10px;
  @include box_sizing;
}

.signup{
  background-color: #efefef;
}

.alert-notice {
  
  /*background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;*/
  @extend .alert-warning;
}

.alert-error {
  
  /*background-color: #F2DEDE;
  border-color: #EBCCD1;
  color: #A94442;*/
  @extend .alert-danger;
}

.username{
  margin: 10px 0 30px;
  height: 40px;

  h3{
    @extend .pull-right;
    margin-top: 0;
  }
}

h3.panel-title{
  font-weight:bold;
}

.debug-dump{ 
  color: #6E95A5;

  h3{
    font-weight:bold;
    color: #3DADA9;  
  }
}

.well{

  .session-name{
    text-transform: capitalize;
    span{
      font-weight: bold;
    }
  }

  .session-description-well{
    color : $well_aux_tex; 
  }
  .session-question{
    font-weight: bold;
    font-size: 1.5em;
    color: $well_question;
  }
  

  hr{
    color: #444;
    background-color: #444;
  }
  hr.well-description{
    color: #bbb;
    background-color: #bbb;
  }
}
.session-description{

  .comments-counter, .posts-counter{
    display: block;
    width: 55%;
    height: 40px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #555;
    strong{
/*      width:30px;
      height: 30px;
      padding: 5px;
      display: block;
      float: right;
      background-color: #555;*/
      color: #3e6d88;
    }
  }

}
.description-search{
  width: 15em;  
}

.page-header{

  h2{
    margin-top: 0;
    color: $headerGreen;
  }

  h2.app-title{
    color: #444;
  }

  .nav-pills > li {
    padding-left: 15px;
  }

  .nav-pills > li > a,{
    background-color: #888;
    color: #fff;
    padding: 5px 15px;
  }

  .nav-pills > li > a:hover, 
  .nav-pills > li > a:focus{
    background-color: $headerGreen;
    color: #fff
  }
  .nav-pills > li > a.delete-link:hover{
      background-color: $navHoverRed;
    }

}
.post-content{

  span{
    color: $headerGreen;
    padding-left: 10px;
    font-style: italic;
    font-weight: bold;
  }
}

.navbar-brand {
  padding: 10px 15px 0;
}

.form-divider{
  width: 100%;
  height: 2px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-date-divider{
  padding: 0 40px;
}
.form-radio-group{
  width: 200px;
  margin: 5px 0;
  padding: 0 15px;
  height: 40px;
  border: 1px solid #ccc;
}
.form-radio{
  float: left;
  width: 20px;
}

.form-radio-label{
  float: left;
  padding-left: 15px;
  margin-top: 10px;
}

.whitespace{
  width: 100%;
  height: 20px;
}

.comment-created-time{
  font-size: 0.9em;
  color: #707e82;

}

div.pagination > ul {
  @extend .pagination
}
.pagination-count{
  color: $headerGreen;
}

/*--------------------------------*/
/* PAGINATION OVERRIDES           */
/*--------------------------------*/

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination  li {
    display: inline;
}
.pagination  li  a, .pagination  li  span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination  li:first-child  a, .pagination  li:first-child  span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination  li:last-child  a, .pagination  li:last-child  span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination  li  a:hover, .pagination  li  span:hover, .pagination  li  a:focus, .pagination  li  span:focus {
    background-color: #EEEEEE;
}
.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.pagination  .disabled  span, .pagination  .disabled  span:hover, .pagination  .disabled  span:focus, .pagination  .disabled  a, .pagination  .disabled  a:hover, .pagination  .disabled  a:focus {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #999999;
    cursor: not-allowed;
}
.pagination-lg  li  a, .pagination-lg  li  span {
    font-size: 18px;
    padding: 10px 16px;
}
.pagination-lg  li:first-child  a, .pagination-lg  li:first-child  span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg  li:last-child  a, .pagination-lg  li:last-child  span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm  li  a, .pagination-sm  li  span {
    font-size: 12px;
    padding: 5px 10px;
}
.pagination-sm  li:first-child  a, .pagination-sm  li:first-child  span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm  li:last-child  a, .pagination-sm  li:last-child  span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

/*----------------------------------------------------*/
.help-content{

  .help-section{
    padding:15px 0 25px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 20px;

    .help-section-sub{
      margin: 20px 0;
    }
  }

  h3, h4{
    border-bottom : 1px solid #EEEEEE;
    padding       : 10px 0;
    margin-bottom : 15px;
    color: $helpPageHeader;
  }
  h5{
    font-weight: bold;
  }
}