<li><%= link_to "Questions", tagger.questions_url %></li>
<li><%= link_to "Terms", twitter_parser.terms_url %></li>
<li><%= link_to "Twitter Accounts", twitter_parser.accounts_url %></li>
<li><%#= link_to "Forums", main_app.forums_url %></li>
<li><%#= link_to "Tagged Posts", main_app.tagged_posts_url %></li>